* {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212 , 45%, 89%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    width: 320px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
}

.card .img {
    width: 100%;
    border-radius: 1rem;
}
.card h3 {
    background-color: white;
    text-align: center;
}
.card p {
    background-color: white;
    text-align: center;
}
.card .tittle {
    font-weight: 700;
}
.card .info {
    
    font-weight: 400;
    opacity: 0.7;
}